@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
:root {
    --main-color: rgb(207, 72, 160);
    --main-color-opacity: rgba(207, 72, 160, 0.4);
    --main-background: rgb(15, 15, 15);
    --reverse-color: #dee1e0;
    color-scheme: light dark;
}
body {
    background-color: var(--main-background);
    font-family: 'Exo 2';
    color: var(--reverse-color);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
input:focus {
    outline-style: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid var(--main-color) 3px;
    height: 10em;
    width: 100%;
}
.home {
    position: relative;
    scale: 0.8;
}
.bodyHome {
    height: 2.2em;
    width: 2em;
    border-radius: 5px;
    background-color: var(--main-color);
}
.toit1 {
    height: 0.5em;
    width: 2.25em;
    border-radius: 5px;
    background-color: var(--main-color);
    rotate: -45deg;
    margin-left: -0.85em;
    position: absolute;
}
.toit2 {
    height: 0.5em;
    width: 2.25em;
    border-radius: 5px;
    background-color: var(--main-color);
    rotate: 45deg;
    margin-left: 0.55em;
    position: absolute;
}
.chemi {
    height: 2em;
    width: 0.5em;
    background-color: var(--main-color);
    border-radius: 5px;
    position: absolute;
    margin-top: -0.7em;
    margin-left: 1.4em;
}
.combler {
    height: 2em;
    width: 0.5em;
    background-color: var(--main-color);
    position: absolute;
    margin-top: -0.5em;
    margin-left: 0.75em;
}
.modeSwitcher {
    color: var(--main-background);
    background-color: var(--reverse-color);
    border-radius: 20px;
    padding: 0.25em 1em;
}
.modeSwitcher:hover {
    color: var(--main-color);
    background-color: var(--main-color-opacity);
    cursor: pointer;
}
.input {
    color: var(--main-color);
    background-color: var(--main-background);
    border: solid var(--main-color) 3px;
    border-radius: 20px;
    padding: 0.25em 1em;
}
.input:hover,
.input:focus {
    color: var(--main-background);
    background-color: var(--main-color);
}
.input::placeholder {
    color: var(--main-color-opacity);
}
.input:focus::placeholder,
.input:hover::placeholder {
    color: var(--main-background);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background-color: var(--main-background);
    border: solid var(--main-color) 3px;
    border-radius: 20px;
    padding: 0.25em 0.75em;
}
.button:hover {
    color: var(--main-background);
    background-color: var(--main-color);
    cursor: pointer;
    padding: 0.3em 1em;
}
.buttonGraph {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.removeDay {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.addDay {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.inputNum {
    height: 1.3em;
    width: 3em;
    text-align: center;
    border-radius: 0;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
}
.colorChoice {
    display: flex;
}
.inputColorGreen,
.inputColorYellow,
.inputColorOrange {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    height: 1.2em;
    width: 1.5em;
    text-align: center;
}
.option {
    background-color: var(--main-color);
    width: 2.5em;
    height: 0.35em;
    margin-bottom: 0.35em;
}